/* 调整按钮组样式以固定到底部 */
#button-group {
    position: fixed;
    bottom: 0; /* 紧贴页面底部 */
    left: 0;
    width: 100%; /* 按钮组占据整个宽度 */
    background-color: black; /* 底部背景色 */
    padding: 10px 0;
    display: flex;
    justify-content: center; /* 按钮居中对齐 */
    gap: 10px; /* 按钮之间的间距 */
    border-top: 1px solid #ddd; /* 可选：顶部边框分隔 */
    z-index: 1000; /* 确保按钮显示在最顶层 */
}


.button-left {
    padding: 10px 20px;
    background-color: black;
    border: 2px solid #00E0FF;
    border-radius: 5px;
    color: #00E0FF;
    cursor: pointer;
    transition: background-color 0.3s ease, border-color 0.3s ease;
}

.button-left:hover {
    background-color: #00E0FF;
    color:white;
}

.button-left:disabled {
    background-color: #e0e0e0; /* 灰色背景 */
    color: #a0a0a0; /* 浅灰文字 */
    border-color: #d0d0d0; /* 浅灰边框 */
    cursor: not-allowed; /* 鼠标样式改为不可点击 */
}

.button-right {
    padding: 10px 20px;
    background-color: black;
    border: 2px solid #F7A600;
    border-radius: 5px;
    color: #F7A600;
    cursor: pointer;
    transition: background-color 0.3s ease, border-color 0.3s ease;
}

.button-right:hover {
    background-color: #F7A600;
    color:white;
}

.button-right:disabled {
    background-color: #e0e0e0; /* 灰色背景 */
    color: #a0a0a0; /* 浅灰文字 */
    border-color: #d0d0d0; /* 浅灰边框 */
    cursor: not-allowed; /* 鼠标样式改为不可点击 */
}
