body {
    background-color: black;
    color: white;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    height: 100vh;
}

.container {
    display: flex;
    width: 100%;
    position: relative;
}

.block {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.logo {
    width: 150px;
    margin-bottom: 20px;
}

.buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.button-left {
    width: 200px;
    padding: 10px 20px;
    background-color: black;
    border: 2px solid #00E0FF;
    border-radius: 5px;
    color: #00E0FF;
    cursor: pointer;
    transition: background-color 0.3s ease, border-color 0.3s ease;
}

.button-left:hover {
    background-color: #00E0FF;
    color:white;
}

.button-right {
    width: 200px;
    padding: 10px 20px;
    background-color: black;
    border: 2px solid #F7A600;
    border-radius: 5px;
    color: #F7A600;
    cursor: pointer;
    transition: background-color 0.3s ease, border-color 0.3s ease;
}

.button-right:hover {
    background-color: #F7A600;
    color:white;
}

/* 分割线样式 */
.divider {
    position: absolute;
    top: 20%; /* 设置分割线距离页面顶部20% */
    bottom: 20%; /* 设置分割线距离页面底部20% */
    left: 50%;
    width: 1px; /* 设置分割线的宽度 */
    background-color: saddlebrown; /* 设置分割线的颜色 */
    transform: translateX(-50%); /* 水平居中 */
}
